.h-3 {
    height: 3px;
}

.form-error, .text-red {
    color: #ff0000;
}

.mgt-50 {
    margin-top: 50px!important;
}

.mgb-30 {
    margin-bottom: 30px!important;
}
.mgb-15 {
    margin-bottom: 15px!important;
}
.mgb-5 {
    margin-bottom: 5px!important;
}

.w-200 {
    width: 200px;
}

.maxw-250 {
    max-width: 250px;
}

.processing {
    background: #ff9966;
}
