$main_cl: #000;
$hover_cl: #d13030;
$sbar_w: 200px;
$sbar_wtg: 38px;
$menu_hv: rgba(255,255,255,.12);
$menu_bg: #039BE5;
$high_cl: #ff0000;
$top_head_cl: #0f77be;
$meta_cl: #888;
$foot_bg: #0f77be;
$foot_cl: #fff;
$end_bg: #076baf;
$sidebar_bg: #eaeaea;
$fontz: 14;
$active_bd: #f77b33;
$main_bd: #dcdcdc;
$more_cl: #666;
$tag_bg: #aaa;
$cat_bg: #1bbde8;
